body {
	width: 100%;
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	background-color: #0a0a0a;
}
p {
	margin: 0;
}
#header {
	width: 100%;
	height: 50px;
}
.headerTitle {
	margin: 0;
	float: left;
	padding: 25px 0 0 30px;
	color: #fff;
	font-weight: 300;
	letter-spacing: 5px;
	font-size: 12px;
}
#home ul {
	margin: 0;
	float: right;
	list-style: none;
	padding-right: 20px;
}
#home li {
	float: left;
	padding: 25px 10px 0 10px;
}
#home li a {
	text-decoration: none;
	font-size: 10px;
	color: #fff;
	letter-spacing: 5px;
}
#home {
	width: 100%;
	height: 660px;
}
.leftBox {
	width: 300px;
	float: left;
	margin-top: 220px;
	position: absolute;
	left: 30px;
}
.rightBox {
	float: right;
	margin-top: 55px;
	position: absolute;
	right: 370px;
}
.welcomeFirstLine {
	font-size: 20px;
	font-weight: 400;
	color: #fff;
}
.welcomeSecondLine {
	font-size: 17px;
	font-weight: 400;
	color: #fff;
}
.welcomeThirdLine {
	font-size: 15px;
	font-weight: 300;
	color: #fff;
}
#portfolio {
	width: 100%;
	height: 660px;
	clear: both;
}

.firstImg {
  position: relative;
  width: 35%;
}

.secondImg {
  position: relative;
  width: 35%;
}
.thirdImg {
  position: relative;
  width: 35%;
}

.fourthImg {
  position: relative;
  width: 35%;
}

.imgBox {
	padding-top: 80px;
	padding-left: 300px;
}

.imgBox div {
	float: left;
}

.image {
  width: 100%;
  height: auto;
  display: block;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .3s ease;
  background-color: #fff;
}

.firstImg:hover .overlay, .secondImg:hover .overlay, .thirdImg:hover .overlay, .fourthImg:hover .overlay {
  opacity: 0.95;
}

.text {
  color: #333;
  font-size: 20px;
  position: absolute;
  font-weight: 300;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

#contact {
	width: 100%;
	height: 300px;
}
.contactInfo ul {
	list-style: none;
	text-align: center;
	padding: 0;
	position: relative;
	top: 130px;
}
.contactInfo li {
	display: inline;
	padding: 0 20px;
}
.contactInfo li a {
	text-decoration: none;
	font-weight: 300;
	letter-spacing: 5px;
	font-size: 10px;
	color: #fff;
}